<h1>Welcome to Awesome Answers</h1>
<%= link_to 'New Question', new_question_path %>


<% @questions.each do |question| %>
  <div>
    <h2> <%= link_to question.title, question_path(question)%>
    <p><%= question.body%></p>
    <hr>
  </div>
<% end %>