<%- include("./partials/header.ejs")%>
<%- include("./partials/navbar.ejs")%>
<main>
  <form>
    <label>Enter first number </label><br>
    <input type="number" name="first" placeholder= "Enter number"><br>
    <label>Enter second number </label><br>
    <input type="number" name="second" placeholder= "Enter number"><br>
    <input type="submit">
       
  </form>
  <h1><%= message %></h1> 
</main>
<%- include("./partials/footer.ejs")%>